  
    .grid-item {
        background-color: lightblue;
        border: 2px solid rgb(21, 16, 165);
        text-align: center;
        padding: 10px;
        font-size: 16px;
        color: #2317ab;
        
    }
  
  
  .grid-containershort {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      width: 400px;
      height: 200px;
      margin: 20px auto;
      gap: 10px;
    }


    .grid-containerlong {
  display: grid;
  width: 400px;
  height: 200px;
  background-color: lightblue;
  border: 0.5px solid black;
      margin: 20px auto;
}

.small-grids-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.grid2-containersmall {
  display: grid;
  width: 150px;
  height: 100%; 
  gap: 10px;
}
.grid2-containertall {
    display: grid;
    width: 200px;
    height: auto;

}

.grids-row {

display: flex;
justify-content: center; 
text-align: center;
padding: 10px;
font-size: 16px;
gap: 8px

}